
<!DOCTYPE html>
<html lang="en">
 <head>
    <% include head %>
</head>

  <body>
     <div class="container">
      <div class="starter-template">
        <h1>Siddarth</h1>
        <img id="headshot" src="headshot.jpg" alt="Mountain View" border-radius="8px">
        <p class="lead"> Now we shall test the rocket scienst.<br>Will he defeat his enemies? </p>
      </div>
    </div><!-- /.container -->
    <% include foot %>
  </body>
</html>
