<link href="/css/style.css" rel="stylesheet" type="text/css">

    <h1>Question 1</h1>
    
    <form name="q1" method="POST">
    <table class="center">
        <tr>
            <td>
               <h2> Q1) How old are you?</h2>
            </td>
        </tr>
        <tr>
        <td>Age </td>
        <td><input type="text" name="age" ></td>
        </tr>
        <tr>
        <td colspan="2"><input type="submit" value="Save" ></td>
        </tr>
    </table>
    </form>   
