<link href="/css/style.css" rel="stylesheet" type="text/css">

    <h1>Question 2</h1>
    
    <form name="q2" method="POST">
    <table class="center">
        <tr>
            <td>
                <h2>Q2) There are 50 bikes with a tank that has the capacity to go 100 km. Using these 50 bikes, what is the maximum distance that you can go?</h2>
            </td>
        </tr>
        <tr>
            <td>
                km?
            </td>
            <td>
                <input type="text" name="km" >
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Save" >
            </td>
        </tr>
    </table>
    </form>   
