<!DOCTYPE html>
<html lang="en">
    
<head>
    <% include head %>
</head>

<body>
    <div class="container">
      <div class="starter-template" text-align="center" align="center">
        <% include q3form %>
    </div>
    <% include foot %>
 </body>
</html>
